
*
{
    text-align: center;
    flex: 1;
    font-size:2 rem;
}
body
{
    padding: 0 0;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
.dropdown
{
    text-align: left;
    margin: 10px 0px;
}
.game
{
    min-height: 100vh;
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-between;

}
.game H1
{
    flex: 0.5;
    font-size: 3.5rem;
}
.game .container
{
    flex: 2;
}

.container
{
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 50vh;
    background-color: aqua;
    justify-content: space-between;
    margin: auto auto;
}
.row
{
    display: flex;
    justify-content: space-between;
}
.col
{
    border: 2px solid white;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    margin :0 auto;
}

.current_empty
{
    background-color: darkgreen;;
}
