*
{
    text-align: center;
    font-size:2 rem;
}
body
{
    padding: 30 25;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    font-family: 'Pacifico', cursive;
    }

.game
{
    min-height: 100vh;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding:50px 50px;
    

}
H1
{
    font-size: 10rem;
}

.wrapper {
    margin: 30px auto;
    color:#fff;
    text-align:center;
    }

.wrapper p 
{
    font-size: 5em;

}
.wrapper p span
{
    background: transparent;
}
    button{

        background:#ffa600;
        color:#fff;
        border: solid 1px #fff;
        text-decoration:none;
        cursor:pointer;
        font-size:1.8em;
        padding:18px 10px;
        width:180px;
        margin: 10px;
         outline: none;
    }
button:hover{

            background:#fff;
            border: solid 1px #fff;
            color:#ffa600;
}



.container
{
    display: flex;
    flex-direction: column;
    width: 500px;
    min-height: 500px;
    background-color: aqua;
    justify-content: space-between;
    margin: auto auto;
    border-radius: 41px;

    background: linear-gradient(225deg, #8f8aa6, #aaa4c5);
    box-shadow:  -25px 25px 45px #87829c,
             25px -25px 45px #b7b0d4;

}
.row
{
    display: flex;
    justify-content: space-around;
}
.col
{
    
    border: thick double #df437f;
    padding-top: 15%;
    padding-bottom: 15%;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    margin :0 auto;
    height: 12.5vh;
    font-family: 'Press Start 2P', cursive;
}

.current_empty
{
    background-color: darkgreen;

    background: linear-gradient(315deg, #aaa4c5, #8f8aa6);
box-shadow:  -30px -30px 60px #6b677b,
             30px 30px 60px #d3cbf5;
}
.right_corner
{
    border-top-right-radius: 41px;
}
.left_corner
{
    border-top-left-radius: 41px;
}
.right_bottom_corner
{
    border-bottom-right-radius: 41px;
}
.left_bottom_corner
{
    border-bottom-left-radius: 41px;
}
.error
{
    background: #333 ;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}